name: OneDrive to OneDrive (Loop)

on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - OneDrive to OneDrive (Loop)
    types:
      - completed

permissions:
  actions: write
  contents: read

jobs:
  transfer:
    if: >
      github.event_name == 'workflow_dispatch' ||
      github.event.workflow_run.conclusion != 'failure'
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - uses: actions/checkout@v4

      - name: Install rclone
        run: curl https://rclone.org/install.sh | sudo bash

      - name: Setup rclone config
        run: |
          mkdir -p ~/.config/rclone
          cat << 'EOF' > ~/.config/rclone/rclone.conf
          ${{ secrets.RCLONE_CONF }}
          EOF

      - name: Check remotes
        run: rclone listremotes

      - name: OneDrive to OneDrive
        run: |
          rclone copy mna:/ mcn:/ \
            --progress \
            --transfers=4 \
            --stats=30s \
            --low-level-retries=10
